In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('../HW4/train.csv') # load training set
test = pd.read_csv('../HW4/test.csv')# load test set

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [4]:
#fill Age nan with median
median = train["Age"].median()
train["Age"].fillna(median, inplace=True) 

#fill fare nan with median
median = train["Fare"].median()
train["Fare"].fillna(median, inplace=True) 

#change sex to numerical
train_sex = train[["Sex"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
train_sex_num = ordinal_encoder.fit_transform(train_sex)
train.Sex = train_sex_num

#change ticket to numerical
train_tick = train[["Ticket"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
train_tick_num = ordinal_encoder.fit_transform(train_tick)
train.Ticket = train_tick_num

#fill mising embark values with S
train["Embarked"].fillna('S', inplace=True) 
train_emb = train[["Embarked"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
train_emb_num = ordinal_encoder.fit_transform(train_emb)
train.Embarked = train_emb_num

#compute family size
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1

#create is_alone binary value
train['IsAlone'] = 0
train.loc[train['FamilySize'] == 1, 'IsAlone'] = 1

train.isnull().sum() # check for nan values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
FamilySize       0
IsAlone          0
dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null float64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null float64
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null float64
FamilySize     891 non-null int64
IsAlone        891 non-null int64
dtypes: float64(5), int64(7), object(2)
memory usage: 97.5+ KB

In [6]:
#drop labels
train_d = train.drop("Cabin", axis=1) 
#train_d = train_d.drop("Embarked", axis=1) 
train_d = train_d.drop("Name", axis=1) 
#train_d = train_d.drop("PassengerId", axis=1) 
train_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null float64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null float64
FamilySize     891 non-null int64
IsAlone        891 non-null int64
dtypes: float64(5), int64(7)
memory usage: 83.6 KB

In [7]:
train_d.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
FamilySize     0
IsAlone        0
dtype: int64

In [8]:
train_y = train_d.Survived # set class labels
train_x = train_d.drop("Survived", axis=1) # drop Survived from training features
train_x.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone
0,1,3,1.0,22.0,1,0,523.0,7.2500,2.0,2,0
1,2,1,0.0,38.0,1,0,596.0,71.2833,0.0,2,0
2,3,3,0.0,26.0,0,0,669.0,7.9250,2.0,1,1
3,4,1,0.0,35.0,1,0,49.0,53.1000,2.0,2,0
4,5,3,1.0,35.0,0,0,472.0,8.0500,2.0,1,1

In [9]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null float64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null float64
FamilySize     891 non-null int64
IsAlone        891 non-null int64
dtypes: float64(5), int64(6)
memory usage: 76.6 KB

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

poly_kernel_svm_clf = Pipeline([
        ("scaler", StandardScaler()),
        ("svm_clf", SVC(kernel="poly", degree=3, coef0=0.8, C=0.1))
    ])
poly_kernel_svm_clf.fit(train_x, train_y)
cross_val_score(poly_kernel_svm_clf, train_x, train_y, cv=3, scoring="accuracy")

array([0.81144781, 0.83838384, 0.81818182])

In [11]:
# set testing data

#fill Age nan with median
median = test["Age"].median()
test["Age"].fillna(median, inplace=True) 

#fill fare nan with median
median = test["Fare"].median()
test["Fare"].fillna(median, inplace=True) 

#change sex to numerical
test_sex = test[["Sex"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
test_sex_num = ordinal_encoder.fit_transform(test_sex)
test.Sex = test_sex_num

#change ticket to numerical
test_tick = test[["Ticket"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
test_tick_num = ordinal_encoder.fit_transform(test_tick)
test.Ticket = test_tick_num

#fill mising embark values with S
test["Embarked"].fillna('S', inplace=True) 
test_emb = test[["Embarked"]]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
test_emb_num = ordinal_encoder.fit_transform(test_emb)
test.Embarked = test_emb_num

#compute family size
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

#create is_alone binary value
test['IsAlone'] = 0
test.loc[test['FamilySize'] == 1, 'IsAlone'] = 1
    
test.isnull().sum() # check for nan values

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
FamilySize       0
IsAlone          0
dtype: int64

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null float64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null float64
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null float64
FamilySize     418 non-null int64
IsAlone        418 non-null int64
dtypes: float64(5), int64(6), object(2)
memory usage: 42.5+ KB

In [13]:
#drop labels
test_d = test.drop("Cabin", axis=1) 
#test_d = test_d.drop("Embarked", axis=1) 
test_d = test_d.drop("Name", axis=1) 
#test_d = test_d.drop("PassengerId", axis=1) 
test_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null float64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null float64
Fare           418 non-null float64
Embarked       418 non-null float64
FamilySize     418 non-null int64
IsAlone        418 non-null int64
dtypes: float64(5), int64(6)
memory usage: 36.0 KB

In [14]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null float64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null float64
FamilySize     891 non-null int64
IsAlone        891 non-null int64
dtypes: float64(5), int64(6)
memory usage: 76.6 KB

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

poly_kernel_svm_clf = Pipeline([
        ("scaler", StandardScaler()),
        ("svm_clf", SVC(kernel="poly", degree=3, coef0=0.8, C=0.1))
        #("svm_clf", SVC(kernel="rbf"))
    ])
poly_kernel_svm_clf.fit(train_x, train_y)
predictions = poly_kernel_svm_clf.predict(test_d)
acc_decision_tree = round(poly_kernel_svm_clf.score(train_x, train_y) * 100, 2)
print (acc_decision_tree)
cross_val_score(poly_kernel_svm_clf, train_x, train_y, cv=3, scoring="accuracy")

83.28

array([0.81144781, 0.83838384, 0.81818182])

In [16]:
output = pd.DataFrame({'PassengerId': test_d.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)